body {
  background: #c60000; }

.falla {
  width: 13.7%;
  margin: 1%;
  border: 1px solid #f6f6f6;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: Arial;
  font-size: 18px;
  padding: 2%;
  color: black; }
  @media (max-width: 700px) {
    .falla {
      width: 94%; } }
  @media (min-width: 700px) and (max-width: 1000px) {
    .falla {
      width: 43%; } }
  @media (min-width: 1000px) and (max-width: 1300px) {
    .falla {
      width: 27%; } }
  @media (min-width: 1300px) and (max-width: 1500px) {
    .falla {
      width: 18.7%; } }

img {
  width: 90%;
  border-radius: 5px; }

#mapa {
  opacity: 0;
  position: fixed;
  top: 25vh;
  left: 25vw;
  width: 50%;
  height: 50%;
  z-index: -2; }

#taparTodo {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  background: transparent;
  z-index: 1; }

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome; }

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006"; }

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0; }

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b; }

#formulario {
  top: 0px;
  left: 0px;
  position: fixed;
  overflow: hidden;
  background: #8e1329;
  z-index: 7;
  display: block;
  width: 100%;
  font-weight: bold; }
  @media (max-width: 700px) {
    #formulario {
      background: #c60000; } }

#icono {
  content: url("../logos/evilcorp.png");
  width: 75%;
  display: inline-block;
  margin: 0 auto; }

input, select, option {
  background: #df6f84;
  border: 0;
  border-radius: 5px; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

input[type=number] {
  -moz-appearance: textfield;
  width: 5vw;
  height: 50%; }

input[type=text] {
  width: 15vw;
  height: 50%; }

select {
  width: 15vw;
  height: 50%;
  padding: 5px;
  line-height: 1;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #df6f84;
  -webkit-appearance: none;
  background-position-x: 13.5vw; }
  @media (max-width: 1000px) {
    select {
      background-position-x: 12.5vw; } }
  @media (min-width: 700px) and (max-width: 1000px) {
    select {
      background-position-x: 12vw; } }

content {
  width: 100%;
  display: inline-block;
  margin-top: Calc(5.1% + 15px); }

button {
  background: #df6f84;
  color: black;
  margin-top: 15px;
  border: 1px solid #c60000;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  padding: 9px 23px;
  text-decoration: none;
  box-shadow: 5px 5px darkslategrey; }

#icono {
  grid-area: icono; }

#nombreGrid {
  grid-area: nombre; }

#seccionGrid {
  grid-area: seccion; }

#sectorGrid {
  grid-area: sector; }

#anyoBocetoGrid {
  grid-area: anyoBoceto; }

#anyoFundacionGrid {
  grid-area: anyoFundacion; }

#categoriaGrid {
  grid-area: categoria; }

#nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "nombre anyoBoceto seccion" "anyoFundacion sector categoria";
  grid-area: nav;
  justify-items: center;
  align-items: center; }
  @media (max-width: 700px) {
    #nav {
      display: none; } }
  @media (min-width: 700px) and (max-width: 1500px) {
    #nav {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "nombre seccion" "anyoFundacion anyoBoceto" "sector categoria"; } }

#formulario {
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-areas: "icono nav"; }

/*# sourceMappingURL=style.css.map */
